
#container{
    padding-top: 2%;
    width: 35%;
    height: auto;
    /* background-color:#001437; */
    background-color: #17272B;
    margin: auto;
    margin-top: 5%;
    box-shadow: rgba(208, 167, 167, 0.35) 0px 5px 15px;
    border-radius: 5px;
    padding-bottom: 2%;
    text-align: center;
}
#container>div{
    width: 30%;
    height: auto;
    font-size: 90%;
    color: white;
    margin: auto;

}


#form{
    margin-top: 8%;
}
div:hover{

    color: rgb(21, 22, 23);
}
#form>input{

 display: block;
 margin: auto;
 width: 90%;
 height: 39px;
 margin-top: 5%;
 border-radius: 4px;
 color: #17272B; 
 border-width: .5px;
 margin-bottom: 1%;
 box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#form input:hover{
    text-decoration: underline;
}

#form #submit{
    width: 18%;
    background-color: #062932;
    color: white;
}
#form #submit:hover{
 
  background-color: cadetblue;
    cursor: pointer;
    
}
